<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Anavest - Know who to listen to in the financial world</title>
        <meta name="description" content="Know who to listen to in the financial world.">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/css/landing.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/static/images/landing/logo.png" alt="Anavest" />
            </div>
        </header>
        {% block content %}
        <div class="container-large-darker">
            <div class="container container-wider">
                <div class="promo-darker">
                    <h3>3 problems with stock target prices.</h3>
                    <div class="carousel-container">
                        <div class="carousel">
                            <div class="carousel-item">
                                <div class="carousel-description carousel-description-problem-1">
                                    Big names do not always mean the most profitable and accurate target prices.
                                    <br />
                                    Less known research companies often perform even better than well-known banks.
                                </div>
                                <strong>Profitability of target prices for First Solar</strong>
                                <ul class="problem-1">
                                    <li>
                                        <span>Macquarie</span>
                                        <br />
                                        <div class="big success">+76%</div>
                                    </li>
                                    <li>
                                        <span>Canaccord Genuity</span>
                                        <br />
                                        <div class="big success">+69%</div>
                                    </li>
                                    <li>
                                        <span>UBS securities</span>
                                        <br />
                                        <div class="big failure">-0.01%</div>
                                    </li>
                                    <li>
                                        <span>S&P research</span>
                                        <br />
                                        <div class="big failure">-50%</div>
                                    </li>
                                </ul>

                            </div>
                            <div class="carousel-item">
                                <div class="carousel-description carousel-description-problem-2">
                                    Different banks often give very different price targets for the same stock.
                                    <br />
                                    Target prices for the same stock can vary enormously.
                                </div>
                                <strong>Target prices for Penny J.C.</strong>
                                <ul class="problem-2">
                                    <li>
                                        <span>Morgan Stanley</span>
                                        <br />
                                        <div class="bigger carrot">9</div>
                                    </li>
                                    <li>
                                        <span>Citi Group</span>
                                        <br />
                                        <div class="bigger carrot">20</div>
                                    </li>
                                    <li>
                                        <span>Maxim Group</span>
                                        <br />
                                        <div class="bigger carrot">27</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-description carousel-description-problem-3">
                                    Many analysts just follow trends in stock prices and set a higher target price if stock prices rise,
                                    <br />
                                    or a lower price if stock prices fall. Very few can predict the direction the stock will go before it actually happens.
                                </div>
                                <strong>Nokia's target prices</strong>
                                <div class="problem-3">
                                    <img src="/static/images/nokia_stock.png" alt="Nokia's target prices" />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <a class="carousel-prev" id="carousel_prev" href="#"><span>prev</span></a>
                        <a class="carousel-next" id="carousel_next" href="#"><span>next</span></a>
                        <div class="carousel-pagination" id="carousel_pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-large">
            <div class="container">
                <div class="promo">
                    <h1>Know who to listen to in the financial world.</h1>
                    <p class="description">Since dozens of analysts provide different investment advice for the same stock, it is hard to decide whom to trust. Anavest gives you answers by analysing thousands of investment recommendations made in the past.</p>
                    <div class="cta-option">
                        <p class="description">Leave us your email address to be notified when we launch.</p>
                        <div class="form-inputs">
                            <form action="{{ action }}" method="POST">{% csrf_token %}
                                <script class="{{form.email.id_for_label}}" type="text/x-jquery-template">{{form.email.help_text}}</script>
                                <div class="email-input">
                                    {{form.email}}
                                </div>
                                <div class="submit-input">
                                    <input type="submit" value="Send" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container-separator container-information">
            <div class="entry entry-left entry-information">
                <div class="entry-description">
                    <h2>Information.</h2>
                    <p class="short-description">Get the newest investment recommendations from hundreds of analysts everyday.</p>
                </div>
                <div class="entry-image">
                    <img src="/static/images/landing/information.png" alt="Inforamtion" />
                </div>
            </div>
        </div>
        <div class="container container-separator container-analysis">
            <div class="entry entry-right entry-analysis">
                <div class="entry-description">
                    <h2>Analysis.</h2>
                    <p class="short-description">Know which banks make the most accurate and profitable investment recommendations for any stock.</p>
                </div>
                <div class="entry-image">
                    <img src="/static/images/landing/analysis.png" alt="Analysis" />
                </div>
            </div>
        </div>
        <div class="container container-separator container-description">
            <div class="entry entry-left entry-discover">
                <div class="entry-description">
                    <h2>Discovery.</h2>
                    <p class="short-description">Find the hottest new companies spotted by the best analysts.</p>
                </div>
                <div class="entry-image entry-image-discover">
                    <img src="/static/images/landing/discover.png" alt="Discover" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="description-small">Leave us your email address to be notified when we launch. </div>
            <div class="form-inputs-small">
                <form action="{{ action }}" method="POST">{% csrf_token %}
                    <script class="{{form.email.id_for_label}}" type="text/x-jquery-template">{{form.email.help_text}}</script>
                    <div class="email-input-small">
                        {{form.email}}
                    </div>
                    <div class="submit-input-small">
                        <input type="submit" value="Send" />
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
        <div class="container">
            <footer>Investor relations and media inquiries <a href="mailto:info@anavest.com">info@anavest.com</a></footer>
        </div>
    </body>
    {% block afterbody %}
    {% endblock %}
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="/static/js/respond.min.js"></script>
    <script type="text/javascript" src="/static/js/landing.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43103705-1', 'anavest.com');
    ga('send', 'pageview');
    </script>
</html>