@font-face {
    font-family: 'Nasa';
    src: url('../fonts/Nasa.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

body {
    font-family: 'Open Sans Light';
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: #fffbfa;
    color: #3e3e3e;
    font-size: 18px;
}

a {
    color: #e95201;
    text-decoration: none;
}

p {
    line-height: 22px;
}

input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input[type="email"], form input[type="text"] {
    width: 100%;
}

input[type="email"], input[type="text"] {
    border: 1px solid #e5dbd2;
    padding: 11px 0 11px 11px;
    margin-left: -11px;
}

input[type="submit"], input[type="button"] {
    /*position: relative;*/
    bottom: 1px;
    border: 0;
    padding: 0;
    background: #e95201;
    color: #ffffff;
    width: 81px;
    padding-bottom: 11px;
    padding-top: 12px;
    /*height: 43px;*/
    font-weight: bold;
}

input[type="submit"]:hover, input[type="button"] {
    background-color: #ea7231;
    /*margin-left: 13px;*/
}

input[type="email"]:focus, input[type="text"]:focus {
    border: 1px solid #e95200;
    cursor:pointer;
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: 200;
    font-size: 42px;
    font-family: 'Open Sans';
}

h2 {
    margin: 0 0 21px 0;
    font-weight: normal;
    font-family: 'Open Sans';
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Open Sans';
    font-size: 29px;
}

strong {
    font-size: 15px;
    font-family: 'Open Sans';
}

header {
    width: 100%;
    /*background: #ffffff;*/
    background-color:rgba(255,255,255,0.8);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
}

.logo {
    color: #ea5101;
    font-family: Nasa;
    font-size: 26px;
}

.container-large-darker {
    background: #fbf7f2;
    padding-bottom: 22px;
}

.container-large {
    background: url('../images/landing/bg.jpg') top repeat-x #fffbfa;
}

.container-small {
    margin: 0 auto;
    max-width: 400px;
}

.container {
    margin: 0 auto;
    max-width: 1010px;
}
.container-wider {
    margin: 0 auto;
    max-width: 1110px;
}
.container-separator {
    height: 294px;
    border-bottom: 1px solid #f6f1eb;
    margin-bottom: 22px;
}
.container-information {
    /*height: 357px;*/
    clear: left;
}

/**
 * Header contents
 */

.promo-darker {
    padding-top: 115px;
    margin: 0 20px auto;
    text-align: center;
}
.promo {
    padding-top: 54px;
    margin: 0 20px auto;
    text-align: center;
}

.cta-option {
    margin-top: 46px;
}

.cta-share {
    margin-top: 62px;
    font-size: 16px;
}

.description {
    max-width: 800px;
    margin: 10px auto 0;
    font-size: 16px;
}
.description-small {
    float: left;
    width: 450px;
    padding-top: 16px;
    font-size: 16px;
}

.share-items {
    text-align: center;
    width: 400px;
    height: 155px;
    display: table-cell;
    vertical-align:middle;
}

.share-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;
    margin-right: 22px;
}

/**
 * Entry contents
 */
.entry {
    margin-left: 97px;
    margin-right: 92px;
}

.entry-description {
    padding-top: 127px;
    float: left;
}

.entry-image {
    position: relative;
    float: right;
    height: 294px;
    width: 300px;
    margin-right: -85px;
}

.entry-image-discover {
    margin-right: -86px;
}

.entry-image img {
    position: absolute;
    bottom: 0;
    right: -14px;
}
.entry-analysis img {
    right: -132px;
}

.entry-right .entry-description {
    float: right;
}
.entry-right .entry-image {
    float: left;
}

.short-description {
    padding-bottom: 20px;
    margin: 0;
    height: 85px;
    width: 386px;
}


/**
 * Responsive design implementation
 *
 * 480px - 620px
 * @type {[type]}
 */
@media only screen and (max-width: 620px) {
    .entry {
        margin-left: 10px;
    }
    .entry-left {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 620px) and (max-width: 800px) {
}

@media only screen and (max-width: 1024px) {
    .entry {
        margin-left: 10px;
    }
    .entry-left {
        margin-left: 10px;
    }
    .entry-right {
        margin-left: 10px;
    }
    .entry-right .entry-description, .entry-description {
        float: none;
        padding-top: 35px;
    }
    .entry-image img {
        float: none;
        position: static;
    }
    .entry-right .entry-image, .entry-image {
        position: relative;
        bottom: -6px;
        float: none;
        width: 100%;
        text-align: center;
        height: auto;
    }
    .short-description {
        width: 100%;
    }
    .container-separator {
        height: auto;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    
}

/**
 * Form part
 */
.form-inputs {
    margin: 0 auto;
    max-width: 500px;
}
/**
 * Email Input
 */
.email-input {
    float: left;
    margin-left: 46px;
}
.email-input  {
    width: 350px;
    /*width: 75%;*/
}

.submit-input {
    float: left;
}

/**
 * Small Form part
 */
.form-inputs-small {
    /*width: 800px;*/
    padding-bottom: 5px;
}
.email-input-small {
    width: 304px;
    float: left;
}
.email-input-small input[type="text"] {
    padding: 7px 0  7px 5px;
    margin-left: -7px;
}
.submit-input-small {

}
.submit-input-small input[type="submit"] {
    padding-top: 8px;
    padding-bottom: 7px;
    width: 67px;
}
/**
 * Footer
 */
footer {
    width: 100%;
    text-align: left;
    margin-bottom: 28px;
    font-size: 14px;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
    font-weight: 300;
    font-family: 'Open Sans';
}

/**
 * Carousel
 */
.carousel {
    height: 600px;
    margin-left: 30px;
    /*width: 100%;*/
}
.carousel-container {
    margin-top: 43px;
    /*padding: 0 100px 0 0;*/
}

.carousel-item {
    /*height: 262px;*/
    height: 392px;
    text-align: center;
    width: 1000px;
    line-height: 22px;
}

.carousel-description {
    /*line-height: 1px;*/
}

.carousel-prev, .carousel-next {
    top: 320px;
    position: absolute;
}

.carousel-prev {
    background: url('/static/images/carousel-left.png') no-repeat transparent top;
    height: 65px;
    width: 40px;
    display: block;
}

.carousel-prev:hover {
    background-position: -2px 0;
}

.carousel-next:hover {
    background-position: 2px 0;
}

.carousel-next span, .carousel-prev span {
    display: none;
}

.carousel-next {
    background: url('/static/images/carousel-right.png') no-repeat transparent;
    height: 65px;
    width: 40px;
    display: block;
    float: right;
    margin-left: 1000px;
}

.carousel-pagination a {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
    display: inline-block;
    background: url('/static/images/carousel-passive.png') no-repeat transparent;
}

.carousel-pagination span {
    display: none;
}

.carousel-pagination a.selected {
    background: url('/static/images/carousel-active.png') no-repeat transparent;
}

.problem-1 {
    width: 680px;
    padding: 30px 0;
    margin: auto;
    list-style: none;
}

.problem-1 li {
    width: 170px;
    height: 100px;
    float: left;
    display: inline;
}
.problem-1 li span {
    font-weight: normal;
    font-family: 'Open Sans';
}
.problem-1 li div {
    margin-top: 16px;
}
.carousel-description-problem-1 {
    padding-bottom: 39px;
}

.problem-2 {
    list-style: none;
    padding: 29px 0;
    width: 510px;
    margin: auto;
}

.problem-2 li {
    width: 170px;
    height: 100px;
    float: left;
    display: inline;
}

.problem-2 li span {
    font-weight: normal;
    font-family: 'Open Sans';
}

.problem-2 li div {
    margin-top: 24px;
}

.carousel-description-problem-2 {
    padding-bottom: 34px;
}

.carousel-description-problem-3 {
    padding-bottom: 44px;
}

.problem-3 {
    padding-top: 25px;
}

.big {
    font-size: 36px;
    font-family: 'Open Sans';
}

.bigger {
    font-size: 47px;
    font-family: 'Open Sans';
}

.success {
    color: #b8d13f;
}

.failure {
    color: #fb0a00;
}

.carrot {
    color: #ec661d;
}