{% extends "morbid/base.html" %}

{% block sidebar %}
  <div class="inner">
        <a href="/"><img src="/static/images/logo_1.png" alt="Target price logo" title="logo" height="27"  /></a>
        <div class="search">
            <form action="" method="get">
                <input type="text" name="q" value="" autocomplete="off" class="inp-s" id="search_inp" onkeyup="process_search(this, event)"  />
                <input type="submit" value="Search" class="sub-s" onclick="process_search(this, event)"  />
                <ul class="search_res"></ul>
            </form>
        </div>
    </div>
{% endblock %}


{% block content %}
{% if analytic %}

	<ul class="corp_info analytic">
		<li class="name sliding">
			<span class="text">
				<span class="slid"> {{ analytic.name }}</span>
				<span class="bliur">&nbsp;</span>
    			<span class="goust">&nbsp;</span>
			</span>
		</li>
		<li class="thirteen"><strong>{{ analytic.number_of_companies }}</strong> Companies</li>
		<li class="thirteen"><strong>{{ analytic.number_of_tp }}</strong> Active target prices</li>
	</ul>

	<div class="inner_buttons">
			<a href="/analytic/target_prices/{{ analytic.slug }}/" class=" ta">Target prices</a>
			<a href="" class="active an">Analysis</a>
			<br class="clear" />
			<div class="line"></div>
	</div>

	<div class="inner_content">
	<div class="left">
		<div class="analyse_menu">
			{% for feature in features %}
			<div name="{{ feature.slug }}">
				<a href="/feature_by_analytic/{{ analytic.slug }}/{{ feature.id }}/" class="{{ feature.slug }}">{{ feature.name }}</a>
				<span></span>
				<div class="info_box_content">
					{{feature.description|safe}}
					{% if feature.slug != 'profitability' %}<img src="/static/images/mini_graphs/{{feature.slug}}.png">{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="info_box"></div>
	</div>
	
	<div class="analyser">
		<ul class="bank" id="bank">
			{% for target in target_prices %}
				<li name="{{ target.ticker.slug }}" class="passive">
					<span class="corp sliding">
						<a class="text" href="{{target.ticker.get_absolute_url}}">
							<span class="slid">{{ target.ticker }}</span>
							<span class="bliur">&nbsp;</span>
		    				<span class="goust">&nbsp;</span>
						</a>
					</span> 
					<span class="date">{{ target.date }}</span>
					<span class="number">{{ target.price }} <strong>Last target price</strong> </span>
					<span class="number">35.1<strong>No of target prices</strong> </span>
					<span class="number">-1<strong>Volatility</strong> </span>
				</li>
			{% endfor %}
		</ul>
		
		<div class="in_graph">
			<button class="btn">In graph analysis</button>
			<div class="sear">
				<input type="text" name="sear" placeholder="Search" />
				<ul>
					{% for target in target_prices %}
					<li name="{{target.ticker.slug}}">{{target.ticker.long_name}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<br class="clear" />
	</div>
	<div id="chart" class="graph"></div>
	</div>
	<div class="inner_target_prices hidden"></div>
	
	<br class="clear" />

{% endif %}
{% endblock %}