<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    
    <script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/graphs.js"></script>
    
    <title>{% block title %}Target price{% endblock %}</title>
</head>
<body>
    
    {% include "morbid/svg_gradient.html" %}
    
    <div class="container">
        <div id="header">
        {% block sidebar %}
            <div class="title">
                <a href="/"><img src="/static/images/logo_1.png" alt="Target price logo" title="logo" height="27"  /></a>
                <div class="main_intro">We are still in private beta. Now we are analyzing companies which are in S&P500 index. You can find all the companies <a class="sp500" href=''><img src="/static/images/txt_here.png" alt="here" /></a></div>
                <div class="search"> 
                    <form action="" method="get">
                        <input type="text" name="q" autocomplete="off" value="" class="inp-s" id="search_inp" onkeyup="process_search(this, event)" onclick="process_search(this, event)" />
                        <input type="submit" value="Search" class="sub-s" onclick="process_search(this, event)" />
                        <ul class="search_res"></ul>
                    </form>
                </div>
            </div>
            <div id="popup">
                <div class="overlay"></div>
                <span class="align_enemy"></span>
                <div class="content">
                    <div class="top">
                        <h3>S&P500 index</h3>
                        <a class="close"></a>
                    </div>
                    <div class="list"></div>
                </div>
            </div>
        {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>