{% extends "morbid/base.html" %}


{% block content %}
<script type="text/javascript">
var index_page_type = "{{ptype}}";
</script>

<svg xmlns="http://www.w3.org/2000/svg" width="300" height="12">
    <defs>
        <linearGradient id="first_grad" gradientUnits="userSpaceOnUse" x1="100%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="#bdded3" stop-opacity="1"/>
          <stop offset="7%" stop-color="#abd5c8" stop-opacity="1"/>
          <stop offset="14%" stop-color="#9ecebf" stop-opacity="1"/>
          <stop offset="21%" stop-color="#97caba" stop-opacity="1"/>
          <stop offset="28%" stop-color="#94c9b8" stop-opacity="1" />
          <stop offset="31%" stop-color="#90c7b5" stop-opacity="1" />
          <stop offset="49%" stop-color="#8cc3b1" stop-opacity="1" />
          <stop offset="56%" stop-color="#87bcab" stop-opacity="1" />
          <stop offset="70%" stop-color="#82b6a5" stop-opacity="1" />
          <stop offset="77%" stop-color="#85b5a6" stop-opacity="1" />
          <stop offset="84%" stop-color="#8eb8aa" stop-opacity="1" />
          <stop offset="91%" stop-color="#9aaca5" stop-opacity="1" />
          <stop offset="100%" stop-color="#c3c3b4" stop-opacity="1" />
        </linearGradient>
    </defs>   
	<rect x="0" y="0" width="0" height="0" fill="url(#first_grad)" />
</svg>

<div class="latest_target_prices title {{ptype}}">
	
	<div class="now">Nov. 17, 2013</div>
	{% if ptype == 'grid' %}
	<a class="toggle" href="?ptype=list">Compare</a>
	{% else %}
	<a class="toggle" href="/?ptype=grid">Compare</a>
	{% endif %}
	
	{% if latest_target_prices %}
		<div class="pre_info">
			<span class="cr"><a href="?up"></a><a href="?down"></a></span>
			<span class="ac">Accuracy<a href="?up"></a><a href="?down"></a></span>
			<span class="pr">Profitability<a href="?up"></a><a class="active" href="?down"></a> </span>
			<span class="re">Reach time<a href="?up"></a><a href="?down"></a> </span>
		</div>
		<ul class="">
			{% for target in latest_target_prices  %}
				<li class="entry chart">
					<a class="ticket" href="{{ target.ticker.get_absolute_url }}">
						<span class="ln"><span>{{ target.ticker.long_name }} </span></span>
						<span class="sn">({{ target.ticker.name }})</span>
						<span class="goust">{{ target.ticker.long_name }} </span>
					</a>
					<a class="analytic" href="{{ target.analytic.get_absolute_url }}">{{ target.analytic }}</a>
					<span class="price">{{ target.price }}</span>

					<span id="{{ target.analytic.slug}}_{{ target.ticker.slug }}" class="circle {% if target.change < 0 %}down{% elif target.change > 0 %}up{% endif %}">
						<strong>{{ target.change|floatformat:1|cut:"-" }}%</strong>
					</span>

					<script type="text/javascript">
						generate_pie( "{{ target.analytic.slug}}_{{ target.ticker.slug }}", "{{ target.change }}" )
					</script>

					<ul class="bar">
						{% for fap in target.fap %}
							<li id="{{ fap.feature.slug }}_{{ fap.analytic.slug }}_{{ fap.ticker.slug }}" class="feature"><span>{{fap.feature.name}}</span></li>
							<script type="text/javascript">
								generate_grid_element( "{{ fap.feature.slug }}_{{ fap.analytic.slug }}_{{ fap.ticker.slug }}", "{{ fap.value }}", "{{fap.feature.name}}" )
							</script>
						{% endfor %}
					</ul>
					<div class="bar_tooltip"></div>
				</li>

			{% endfor %}
			<br class="clear"/>
		</ul>
	{% else %}
		<p>Error, no target prices</p>
	{% endif %}
	
</div>
{% endblock %}
