<div class="latest_target_prices title grid">

    <!-- <div class="slider_part"> -->
    <div class="horizontal_slider absolute">
        <div class="now">{{date|date:"M. d, Y"}}</div>
        <a class="toggle">Compare</a>
    </div>
    <!-- </div> -->

    {% if target_prices %}
    <div class="pre_info">
        <span class="ch" name="change"><a class="up"></a><a class="down"></a></span>
        <span class="ac" name="accuracy">Accuracy<a class="up"></a><a class="down"></a></span>
        <span class="pr" name="profitability">Profitability<a class="up"></a><a class="active down"></a></span>
        <span class="re" name="reach_time">Reach time<a class="up"></a><a class="down"></a></span>
    </div>
    <ul class="target_price_list" id="target-price-list" name="{{date|date:'M. d, Y'}}">
        {% for target in target_prices  %}
        {% include "morbid/target_price_card.html" %}
        {% endfor %}
        <br class="clear"/>
    </ul>
    {% else %}
    <p>Error, no target prices</p>
    {% endif %}
</div>

<div class="latest_target_prices title list hidden"></div>