<li name="{{date|date:'M. d, Y'}}" class="entry chart" id="{{ target.hash }}01">
  <a class="ticket" href="{{ target.ticker.get_absolute_url }}">
    <span class="ln"><span>{{ target.ticker.long_name }} </span></span>
    <span class="sn">({{ target.ticker.name }})</span>
    <span class="goust">{{ target.ticker.long_name }} </span>
  </a>
  <a class="analytic">{{ target.analytic }}</a>
  <span class="price">{{ target.price|cut:".0" }}</span>

  <span class="circle {% if target.change < 0 %}down{% elif target.change > 0 %}up{% endif %}">
    <strong>{{ target.change|floatformat:1|cut:"-"|cut:".0" }}%</strong>
  </span>

  <script type="text/javascript">
    tmp_target_price = {'hash': "{{ target.hash }}01", 'name': "{{target.ticker}}", 'processed' : false};
    tmp_target_price['change'] = "{{target.change}}";
    {% for fap in target.fap %}
      tmp_target_price['{{fap.feature.slug}}'] = "{{fap.value}}";
    {% endfor %}
    target_prices_list.push(tmp_target_price)
  </script>
  
  <ul class="bar">
    {% for fap in target.fap %}
    <li class="feature {{fap.feature.slug}}"><span>{{fap.feature.name}}</span></li>
    {% endfor %}
  </ul>

  <div class="bar_tooltip"></div>
</li>