<h1><a href="/">Ticker page</a></h1>

{% if ticker %}
	
<h2>General information</h2>
<ul>
	<li>{{ ticker.long_name }} ({{ ticker.name }})</li>
	<li>Last stock price: {{ ticker.last_stock_price }} $</li>
	<li>Number of banks {{ ticker.number_of_analytics }}</li>
	<li>Number of target prices {{ ticker.number_of_tp }}</li>
	<li>Consensus</li>
	<ul>
		<li>Min: {{ ticker.consensus_min }}</li>
		<li>Avg: {{ ticker.consensus_avg }}</li>
		<li>Max: {{ ticker.consensus_max }}</li>
	</ul>
</ul>

<ul>
	<li>Valid target prices</li>
	{# List of all the target prices for this ticker #}
		{% if target_prices %}
		<ul>
			{% for target in target_prices %}
				<li>{{ target.analytic }} on {{ target.date }} -- {{ target.price }} $</li>
				{% if target.fap %}
					<ul>
						{% for feature in target.fap %}
							<li>{{ feature.feature.name }}: {{ feature.value }} {{ feature.feature.unit.name }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	<li>Analysis</li>
	{# Analysis of the data #}
		<ul>
			{% if features %}
			<li>Features</li>
				<ul>
					{% for feature in features %}
						<li><a href="/feature_by_ticker/{{ ticker.slug }}/{{ feature.id }}" name="{{ feature.name }}">{{ feature.name }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</ul>
</ul>

{% endif %}