{% extends "morbid/base.html" %}


{% block sidebar %}
  <div class="inner">
        <a href="/"><img src="/static/images/logo_1.png" alt="Target price logo" title="logo" height="27"  /></a>
        <div class="search">
            <form action="" method="get">
                <input type="text" name="q" value="" class="inp-s" id="search_inp" onkeyup="process_search(this, event)"  />
                <input type="submit" value="Search" class="sub-s" onclick="process_search(this, event)"  />
                <ul class="search_res"></ul>
            </form>
        </div>
    </div>
{% endblock %}


{% block content %}
	{% if ticker %}
		
	<ul class="corp_info">
		<li class="name">{{ ticker.long_name }} ({{ ticker.name }})<div class="text-gradient"></div></li>
		<li class="price">{{ ticker.last_stock_price }}</li>
		<li class="price_detail">1.50 (<i></i>3.25%)</li>
		<li class="number">{{ ticker.number_of_analytics }} <span>Analysts</span> </li>
		<li class="number n2">{{ ticker.number_of_tp }} <span>Active target prices</span> </li>
		<li class='avg'>
		<ul>
			<li class='mn'><i>{{ ticker.consensus_min }}</i> min </li>
			<!-- calculate avg value. left style is from min 45px to max 260px -->
			<li class='av' style="left:113px;"><i>{{ ticker.consensus_avg }}</i>avg </li>
			<li class='mx'><i>{{ ticker.consensus_max }}</i> max </li>
		</ul>
		</li>
	</ul>
	
	<div class="inner_buttons">
		<a href="/ticker/target_prices/{{ ticker.slug }}/" class="ta">Target prices</a>
		<a href="" class="active an">Analysis</a>
		<br class="clear" />
		<div class="line"></div>
	</div>


	<div class="inner_content">
	<div class="left">
		<div class="analyse_menu">
			{% for feature in features %}
				<div>
					<a href="/feature_by_ticker/{{ ticker.slug }}/{{ feature.id }}" class="{{ feature.slug }}">{{ feature.name }}</a>
					<span></span>
				</div>
			{% endfor %}
		</div>
		
		<div class="info_box">
			<strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. 
			Suspendisse commodo scelerisque dolor, eget feugiat ligula commodo nec. 
			Aliquam neque arcu, faucibus id consequat vel, egestas tempus turpis.
			Morbi ac aliquet leo. Maecenas commodo est vel velit dictum at vestibulum tortor commodo. 
			Sed tempus justo a tortor dapibus vestibulum. Phasellus consequat mi aliquet tellus auctor
		 	dapibus. Aenean eu tincidunt purus. Aenean sit amet ligula quis arcu condimentum porta.
		</div>
	</div>
	
	<div class="analyser">
		<ul class="bank" id="bank">
			{% for target in target_prices %}
				<li name="{{ target.analytic.slug }}" class="passive">
					<span class="corp"><a href="{{target.analytic.get_absolute_url}}">{{ target.analytic }}</a></span> 
					<span class="date">{{ target.date }}</span>
					<span class="number">{{ target.price }} <strong>Last target price</strong> </span>
					<span class="number">{{ target.analytic.number_of_tp }}<strong>No of target prices</strong> </span>
					<span class="number">{{ target.analytic.volatility_positive }}/{{ target.analytic.volatility_negative }}<strong>Volatility</strong> </span>
				</li>
				{% if target.fap %}
					<!-- <ul> -->
						<!-- {% for feature in target.fap %} -->
							<!-- <li>{{ feature.feature.name }}: {{ feature.value }} {{ feature.feature.unit.name }}</li> -->
						<!-- {% endfor %} -->
					<!-- </ul> -->
				{% endif %}
			{% endfor %}
		</ul>
		
		<div class="in_graph">
			<button class="btn">In graph analysis</button>
			<div class="sear">
				<input type="text" name="sear" placeholder="Search" />
				<ul>
					<li>Lorem imsum </li>
					<li>Lorem imsum 8</li>
					<li>Lom imsum 9</li>
					<li class="active">Lorem sum 4</li>
					<li class="active">Lorem imsum 1</li>
					<li>Lorem imsum 41</li>
					<li>Lorem ims 3</li>
					<li>Lorem imsrghum 1</li>
					<li>Lorem imsum </li>
					<li>Loresrghum 1</li>
					<li>Lorem imsum 8</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="chart" class="graph"></div>

	<br class="clear" />
	</div>
	<div class="inner_target_prices hidden"></div>

	{% endif %}
{% endblock %}

