<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/css/landing.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/static/images/landing/logo.jpg" alt="Anavest" />
            </div>
        </header>
        {% block content %}
        <div class="container-large">
            <div class="container">
                <div class="promo">
                    <h1>Know who to listen to in the financial world.</h1>
                    <p class="description">Since dozens of analysts provide different investment advice for the same stock, it is hard to decide whom to trust. Anavest gives you answers by analysing thousands of investment recommendations made in the past.</p>
                    <div class="cta-option">
                        <p class="description">Leave us your email address to be notified when we launch.</p>
                        <div class="form-inputs">
                            <form action="{{ action }}" method="POST">{% csrf_token %}
                                <script class="{{form.email.id_for_label}}" type="text/x-jquery-template">{{form.email.help_text}}</script>
                                {{form.email}}<input type="submit" value="Send" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-separator">
            <div class="entry entry-left entry-information">
                <div class="entry-description">
                    <h2>Information.</h2>
                    <p class="short-description">Get the newest investment recommendations from hundreds of analysts everyday.</p>
                </div>
                <div class="entry-image">
                    <img src="/static/images/landing/information.jpg" alt="Inforamtion" />
                </div>
            </div>
        </div>
        <div class="container container-separator">
            <div class="entry entry-right entry-analysis">
                <div class="entry-description">
                    <h2>Analysis.</h2>
                    <p class="short-description">Know which banks make the most accurate and profitable investment recommendations for any stock.</p>
                </div>
                <div class="entry-image">
                    <img src="/static/images/landing/analysis.jpg" alt="Analysis" />
                </div>
            </div>
        </div>
        <div class="container container-separator">
            <div class="entry entry-left entry-discover">
                <div class="entry-description">
                    <h2>Discover.</h2>
                    <p class="short-description">Find the hottest new companies spotted by the best analysts.</p>
                </div>
                <div class="entry-image">
                    <img src="/static/images/landing/discover.jpg" alt="Discover" />
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="container">
            <footer>Investor relations and media inquires <a href="#">info@anavest.com</a></footer>
        </div>
    </body>
    {% block afterbody %}
    {% endblock %}
    <script src="/static/js/respond.min.js"></script>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/landing.js"></script>
</html>